<div class="container">
  <h1 class="main-heading">Login To Your Account</h1>
  <h2>Enter your phone number and password</h2>

  <form id="sessionCreate" action="/api/tokens" method="POST">

    <div class="formError" style="display:none"><div class="alert alert-danger" role="alert"></div></div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>